{% extends "base.html" %} {% block title %}로그인{% endblock %} {% block
content%}
<h2>로그인</h2>

{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<form action="/register" method="POST">
  <div class="form-wrapper">
    <label for="username">사용자 이름</label>
    <input type="text" id="username" name="username" required />
  </div>

  <div class="form-wrapper">
    <label for="email">이메일</label>
    <input type="text" id="email" name="email" required />
  </div>

  <div class="form-wrapper">
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" required />
  </div>

  <div class="form-wrapper">
    <label for="confirmPassword">비밀번호 확인</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
  </div>

  <button type="submit" class="btn">회원가입</button>
</form>

<div class="links">
  <p><a href="/login">이미 계정이 있으시나요? 로그인</a></p>
</div>
{% endblock %}
